.message{
    background-color: var(--bg-color);
    margin-top: 10px;
}
.container{

    padding: 8px 16px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.author{
    font-size: 14px;
    font-weight: 500;
}
.sent{
    align-self: flex-end;
    .container{
        background-color: var(--highlight);
        color:var(--bg-color);
    }
    .author {
        display:none;
    }
}

.recieved{
    align-self: flex-start;
    .container{

        background-color: var(--bg-color-secondary);
    }


}

.date{
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
}