*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root {
  --bg-color:rgb(250,250,250);
  --bg-color-secondary:rgb(235, 235, 235);
  --text-color:rgb(60, 60, 60);
  --highlight: rgb(255, 100, 0);

  font-family: 'Roboto';
  color: var(--text-color);
  background-color: var(--bg-color-secondary);
}

#root{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    height: 100dvh;


}
body{
  margin:0;
  padding:0;

}

header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px ;
}


a {
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: var(--highlight);
}

.hidden{
  display:none;
}

h1 {
  margin:0;
  font-family: 'Bevan';
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.1;
}
h2{
  margin:20px 15px;
  text-transform: uppercase;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 400;
  color: var(--bg-color);
  background-color: var(--highlight);
  cursor: pointer;
}
button:hover {
  border-color: var(--highlight);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */



button{
  /* width: auto; */
  background-color: var(--bg-color);
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: var(--highlight);
  border:1px solid var(--highlight);
}
button:hover{
  border:1px solid var(--highlight);
  background-color: var(--highlight);
  color: var(--bg-color);
  cursor:pointer;
}


